body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*----------- header -----------*/

.header {
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display: flex;

}

.nav-header {
    display: flex;
    align-items: center;
}

.header-nav-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-nav-color {
    color: #2e2f42;
}

.menu-nav-link {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;

}

.menu-address-link {
    display: flex;
    gap: 40px;
}

.address-link {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


a:hover,
a:focus,
a:active {
    color: #404BBF;
}

/*-----------------------------------*/

/*----------- s1. hero  -----------*/

.hero {
    background: #2e2f42;
    font-weight: 700;
    padding-top: 188px;
    padding-bottom: 188px;
}

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

button:hover,
button:focus {
    background-color: #404BBF
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}

/*-------------------------------------------*/

/*------------- s2. features ------------*/

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.menu-list-features {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}

.list-features {
    width: calc((100% - 72px)/ 4);
}

.title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*------------------------------------*/

/*----------- s3. team  -----------*/

.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-team-img {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}

.team-img {
    background-color: #FFFFFF;
    width: calc((100% - 72px)/ 4);
    border-radius: 0px 0px 4px 4px;

}

.list-section-team {
    padding-top: 32px;
    padding-bottom: 32px;
}

.title-team {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}


.text-team {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/*----------------s4. portfolio ----------*/
.portfolio {
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio-img {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
    margin: 0;
}

.portfolio-img {
    width: calc((100% - 48px) / 3);
}

.list-section-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

/*-----------------------------------------*/

/*------------  footer  ---------------*/

.logo-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.header-footer-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}


.logo-footer-color {
    color: #f4f4fd;
}

.text-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}