body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-style: normal;
}

ul {
    list-style-type: none;
}

/*----------- header -----------*/

.header-nav {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-footer-color {
    color: #2e2f42;
}

.header-nav-link {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link {}

.address-link {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*-----------------------------------*/

a:link {
    color: #2E2F42;
}

a:hover,
a:focus,
a:active {
    color: #404BBF;
}

/*-----------  hero  -----------*/

.hero {
    background: #2e2f42;
    font-weight: 700;
}

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #404BBF
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

/*-------------------------------------------*/

/*------------- features ------------*/

.title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*------------------------------------*/

/*----------- team  -----------*/

.team {
    background: #f4f4fd;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-img {
    background-color: #FFFFFF;
}

.portfolio {
    text-transform: capitalize;
}

/*-----------------------------------------*/

/*------------  footer  ---------------*/

.logo-footer {
    background-color: #2e2f42;
}

.logo-footer-color {
    color: #f4f4fd;
}

.text-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}